.right-menu {
    display: flex;
    justify-content: flex-end;
}

.hidden-navbar {
    display: none !important;
}

.title {
    margin-right: 15px;
}

.header-link {
    text-decoration: none;
    color: white;
}