.login-container {
    padding: 30px;
    box-sizing: content-box;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: #0002 0 0 30px;
    overflow: hidden;
    flex-direction: column;

    .label {
        text-align: left;
        margin-left: 10px;
        margin-top: 20px;
    }

    .submit-button {
        margin: 25px 5px;
    }
}